/*

Product Admin CSS Template

https://templatemo.com/tm-524-product-admin

*/


.hideContentToLeft{
  position: relative;
  animation-name: moveToLeft;
  animation-duration: 1s;
}
.moveContentAfter{
  position: relative;
  animation-name: moveToLeft2;
  animation-duration: 1s;
}
@keyframes moveToLeft {
  0%   { left:0px; top:0px;}
  100% { left:-200px; top:0px; opacity:0;}
}
@keyframes moveToLeft2 {
  0%   { left:200px; top:0px;opacity: 0}
  100% {left:0px; top:0px; opacity:1;}
}

.info_table {
  display: none;
}

.visible_table {
  display: table-row;
  background-color: gainsboro;
}

